html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* typography and icons */

/* header */
.header{
    background-image: url("./images/banner.png");
    background-size: cover;
    padding: 10px;
}
.header h1{
    color: white;
    margin-bottom: 10px;
    font-size: 20px;
}

.header p{
    color: white;
    margin-bottom: 10px;
    font-size: 10px;
}

/* menu items*/
.items{
    display: flex ;
    flex-direction: column;
    margin: 0;
}

/* container item*/

.item-inner{
    display: flex ;
    flex-direction: row;
    background-color: blue;
    margin: 0;
    align-items: center;
    border-bottom: 1px solid gray;
}
.item-pic{
    font-size: 40px;
    background-color: red;
}

.item-info{
    display: flex ;
    flex-direction: column;
    background-color: red;
}

.item-info p{
    margin: 5 ;
    padding: 0;

}

.item-add{
    border: 1px solid gray;
    border-radius: 50%;
    width: 50px;
    margin-left: auto;
    padding: 0;
}

/* layout */

main, header{
    width: 350px;
    margin: 0 auto;
}


.tweet-input-area {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

/* textareas + btn */

textarea{
    border: none;
    resize: none;
    padding: 10px;
    margin: 0 0 20px 0;
    height: 60px;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
}

button{
    background-color: #1DA1F2;
    border: none;
    color: white;
    padding: 10px 19px;
    border-radius: 20px;
    width: 100%; 
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

/* tweet */

.tweet{
    border-top: 1px solid lightgray;
    padding: 20px 0 0 0;
    width: 100%;
    margin: 15px 0;
}

.tweet-inner{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.tweet-details{
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    width: 160px;
}

.tweet-detail{
    display: flex;
    gap: 4px;
}

.tweet-reply{
    border-top: 1px solid lightgray;
    padding: 20px 0 0 0px;
    margin: 10px 0 10px 40px;
    width: 80%;
}

.handle{
    font-size: 12px;
    font-weight: 500;
    color: #555;
    margin-top: 0;
}

.tweet-text{
    width: 207px;
    font-size: 14px;
    line-height: 20px;
}

/* images */

.profile-pic{
    border: 1px solid lightgray;
    border-radius: 50%;
    width: 48px;
}

/* utility */
.hidden{
    display: none;
}